%% vim:ft=erlang
{sub_dirs, ["rel"]}.
{deps, [
	{sync, ".*", {
		git, "git://github.com/rustyio/sync.git", "HEAD"
	}},

	{alog, ".*", {
		git, "git://github.com/siberian-fast-food/alogger.git", "master"
	}},

	{jsonx, ".*", {
		git, "git://github.com/iskra/jsonx.git", "HEAD"
	}},

	{cowboy, ".*", {
		git, "git://github.com/ninenines/cowboy.git", "HEAD"
	}}
]}.
